* {
  margin: 0;
}

body {
  width: 100%;
  background-color: black;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #333;
}
.player1 {
  position: absolute;
  left: 100px;
  width: 30px;
  height: 200px;
  background: #111;
}
.player2{
  position: absolute;
  left: 900px;
  width: 30px;
  height: 200px;
  background: #111;
}
